@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.rain {
  background: grey;
}

.clear {
  background: rgb(53, 187, 187);
}

.clouds {
  background: lightgray;
}

.snow {
  background: rgb(126, 124, 124);
}

.fog {
  background: rgb(116, 116, 116);
}

.drizzle {
  background: rgb(87, 131, 131);
}
